
	<footer class="bottom">
		<div class="container">
			<p class="grid 1of1 center">
				&copy; 2013 molovo. All rights reserved.
			</p>
		</div>
	</footer>

	<script src="http://www.kryogenix.org/code/browser/smoothscroll/smoothscroll.js"></script>
	<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
	<script>
		jQuery(document).ready(function($) {
			$('[data-img]').each(function() {
				$(this).css({'background-image': 'url("' + $(this).attr('data-img') + '")'});
			});

			setTimeout(function() {
				$('.top').removeClass('visible');
			}, 2000);

			var scroll_pos = 0,
				scroll_time,
				hide_nav;

			$(window).scroll(function() {
			    clearTimeout(scroll_time);
			    clearTimeout(hide_nav);
			    var current_scroll = $(window).scrollTop();

			    if (current_scroll >= 100) {
			        if (current_scroll <= scroll_pos) {
			            $('.top').addClass('visible');
			        }
			        else {
			            $('.top').removeClass('visible');
			        }
			    }

			    scroll_time = setTimeout(function() {
			        scroll_pos = $(window).scrollTop();
			    }, 100);

			    hide_nav = setTimeout(function() {
			    	$('.top').removeClass('visible');
			    }, 2000);
			});
		});
	</script>

</body>
</html>