<!DOCTYPE html>
<html>
<head>

  <!-- Basic Page Needs
  ================================================== -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{{ page.title }} - {{ site.name }}</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  ================================================== -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <!-- CSS
  ================================================== -->
  <link rel="stylesheet" href="/css/syntax.css">
  <link rel="stylesheet" href="/css/entypo.css">
  <link rel="stylesheet" href="/css/melody.css">

  <!-- Favicons
  ================================================== -->
  <link rel="shortcut icon" href="img/favicon.png">

  <script type="text/javascript" src="//use.typekit.net/rjj8bug.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

  <link rel="stylesheet/roole" href="/css/styles.roo">
  <script src="http://roole.org/dist/roole.min.js"></script>
</head>
<body>

  <header class="top visible">
    <div class="container">
      <nav class="main">
        <a href="/" class="grid 1of4 center">
          <span class="icon">&#8962;</span>
          <h6>HOME</h6>
        </a>
        <a href="/about" class="grid 1of4 center">
          <span class="icon">&#128100;</span>
          <h6>ABOUT ME</h6>
        </a>
        <!-- <a href="/work" class="grid 1of4 center">
          <span class="icon">&#9874;</span>
          <h6>WORK</h6>
        </a> -->
        <a href="/blog" class="grid 1of4 center">
          <span class="icon">&#128240;</span>
          <h6>BLOG</h6>
        </a>
        <a href="/contact" class="grid 1of4 center">
          <span class="icon">&#128222;</span>
          <h6>HIRE ME</h6>
        </a>
      </nav>
    </div>
  </header>