---
layout: default
footnote: "I'm James and this is my website. Please [read about](/blog) the things in my brain, take a look at [my work](/#work), find out a little more [about me](/about) or [give me a job](/contact)."
---

<section class="content">
	<div class="container">
		<article class="grid 8of12 offset-2 post-content">
			<h1 class="center">{{ page.title }}</h1>
			<h6 class="meta center">{{ page.date | date_to_string }}</h6>

			<hr />

			<main role="main" class="post">
				{{ content }}
			</main>
		</article>

		{% unless page.categories contains "work" %}
			<article class="grid 8of12 offset-2 post-content">
				<hr />
				<h4>HI THERE!</h4>

				<img src="http://molovo.co.uk/assets/me.jpg" alt="Me!" style="width: 6em; border-radius: .25em; float: left; margin-right: 1.5em;" />
				{{ page.footnote | markdownify }}
			</article>
		{% endunless %}
	</div>
</section>

